OPENAI_API_KEY=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
OPENAI_TRANSCRIPTION_MODEL=whisper-1
OPENAI_TEXT_MODEL=gpt-4o-mini
PEXELS_API_KEY=OaQnsGfCwUT7kcDOmzKCUtoDuqtTfdCddeSICNbbr64Sy90lYSCRJShR
MAX_UPLOAD_MB=500
MAX_BROLL_SLOTS=5
DEFAULT_BROLL_PROVIDER=pexels



